<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <typeAliases>
      <typeAlias type="kosta.model.SchoolAdmin" alias="SchoolAdmin"/>
      <typeAlias type="kosta.model.SchoolAdminRegist" alias="SchoolAdminRegist"/>
      <typeAlias type="kosta.model.StudentList" alias="StudentList"/>
      <typeAlias type="kosta.model.Parent" alias="Parent" />
      <typeAlias type="kosta.model.ParentList" alias="ParentList"/>
      <typeAlias type="kosta.model.AdminList" alias="AdminList"/>
      <typeAlias type="kosta.model.School" alias="School"/>
	  <typeAlias type="kosta.model.SchoolAdminDetail" alias="SchoolAdminDetail"/>
	  <typeAlias type="kosta.model.TeacherDetail" alias="TeacherDetail"/>
	  <typeAlias type="kosta.model.Member" alias="Member"/>
	  <typeAlias type="kosta.model.Teacher" alias="Teacher"/>
	  <typeAlias type="kosta.model.MemberCheck" alias="MemberCheck"/>
	  <typeAlias type="kosta.model.Student" alias="Student"/>
      <typeAlias type="kosta.model.StudentNullList" alias="StudentNullList"/>
      <typeAlias type="kosta.model.StudentDetail" alias="StudentDetail"/>
      <typeAlias type="kosta.model.NoticeBoard" alias="NoticeBoard"/>
      <typeAlias type="kosta.model.Search" alias="Search"/>
      <typeAlias type="kosta.model.School" alias="School"/>
      <typeAlias type="kosta.model.SystemAdmin" alias="SystemAdmin"/>
      <typeAlias type="kosta.model.SchoolRegist" alias="SchoolRegist"/>
      <typeAlias type="kosta.model.ParentNullList" alias="ParentNullList"/>
      <typeAlias type="kosta.model.Subject" alias="Subject"/>
      <typeAlias type="kosta.model.RegistManage" alias="RegistManage"/>
      <typeAlias type="kosta.model.MockType" alias="MockType"/>
      <typeAlias type="kosta.model.MockTest" alias="MockTest"/>
      <typeAlias type="kosta.model.ResearchSubject" alias="ResearchSubject"/>
      <typeAlias type="kosta.model.SecondLanguage" alias="SecondLanguage"/>
      <typeAlias type="kosta.model.ExistStudentList" alias="ExistStudentList"/>
      <typeAlias type="kosta.model.ResearchSubjectPackage" alias="ResearchSubjectPackage"/>
      <typeAlias type="kosta.model.ResearchSubjectScore" alias="ResearchSubjectScore"/>
      <typeAlias type="kosta.model.SecondLanguageScore" alias="SecondLanguageScore"/>
   </typeAliases>
   
   <environments default="development">
      <environment id="development">
         <transactionManager type="JDBC"/>
         <dataSource type="JNDI">
            <property name="data_source" value="java:comp/env/jdbc/oracle"/>
         </dataSource>
      </environment>      
   </environments>
   
   <mappers>
      <mapper resource="kosta/mapper/School.xml"/>
   </mappers>
   
</configuration>