<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <typeAliases>
      <typeAlias type="kosta.model.SchoolAdmin" alias="SchoolAdmin"/>
      <typeAlias type="kosta.model.SchoolAdminRegist" alias="SchoolAdminRegist"/>
      <typeAlias type="kosta.model.StudentList" alias="StudentList"/>
      <typeAlias type="kosta.model.Parent" alias="Parent" />
      <typeAlias type="kosta.model.ParentList" alias="ParentList"/>
      <typeAlias type="kosta.model.AdminList" alias="AdminList"/>
      <typeAlias type="kosta.model.School" alias="School"/>
	  <typeAlias type="kosta.model.SchoolAdminDetail" alias="SchoolAdminDetail"/>
	  <typeAlias type="kosta.model.TeacherDetail" alias="TeacherDetail"/>
	  <typeAlias type="kosta.model.Member" alias="Member"/>
	  <typeAlias type="kosta.model.Teacher" alias="Teacher"/>
	  <typeAlias type="kosta.model.MemberCheck" alias="MemberCheck"/>
   </typeAliases>
   
   <environments default="development">
      <environment id="development">
         <transactionManager type="JDBC"/>
         <dataSource type="JNDI">
            <property name="data_source" value="java:comp/env/jdbc/oracle"/>
         </dataSource>
      </environment>      
   </environments>
   
   <mappers>
      <mapper resource="kosta/mapper/School.xml"/>
   </mappers>
   
</configuration>